:root {
  --heading-font: "Poppins", sans-serif;
  --nameheading-font: "Playfair Display", serif;
  --primary-color: #f7d8d8;
  --secondary-color: #eb6e4b;
}
.hero {
  background-color: #fcebeb;
  text-align: center;
  padding: 160px 0;
}
.hero p {
  font-size: 24px;
  font-family: var(--heading-font);
  font-weight: bold;
  line-height: 45px;
}
h1 {
  font-size: 64px;
  font-family: var(--nameheading-font);
  font-weight: bold;
  line-height: 60px;
}
h2 {
  font-size: 20px;
  font-family: var(--heading-font);
  line-height: 40px;
  margin-top: 20px;
}

.btn-branding {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 25px 15px 25px;
}
.btn-branding:hover {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.text-center {
  font-family: var(--heading-font);
  font-size: 14px;
  padding: 50px 0;
  font-weight: normal;
}

.project-heading {
  font-family: var(--nameheading-font);
  font-weight: 700;
  font-size: 40px;
}

.btn-project {
  font-size: 18px;
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
}
.btn-project:hover {
  background-color: var(--secondary-color);
  color: white;
}

.email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: var(--heading-font);
}
.email-link:hover {
  color: var(--secondary-color);
}

p {
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: normal;
}

h5 {
  font-size: 48px;
  font-family: var(--nameheading-font);
  font-weight: bold;
  margin-top: 200px;
  margin-left: 140px;
}

.content-box {
  background-color: var(--primary-color);
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 80px;
  border-radius: 20px;
  padding: 10px 10px;
}
.email-details {
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.email {
  font-size: 34px;
  font-family: var(--nameheading-font);
  font-weight: bold;
  line-height: 50px;
}
.contact-para {
  font-size: 18px;
  font-weight: bold;
}
.contact-button {
  border-radius: 10px;
}
@media (max-width: 576px) {
  .hero p {
    font-size: 22px;
  }

  h1 {
    font-size: 52px;
    line-height: 1.5;
  }
  h2 {
    font-size: 16px;
    margin-top: 0;
  }
  .btn-project {
    display: block;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  h5 {
    font-size: 38px;
    margin-left: 40px;
  }
  .content-box {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
  }
  .email-details {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .email {
    font-size: 24px;
    font-family: var(--nameheading-font);
    font-weight: bold;
    line-height: 50px;
  }

  .contact-para {
    font-size: 14px;
  }

  .contact-button {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
  }
}
