:root {
  --heading-font: "Poppins", sans-serif;
  --nameheading-font: "Playfair Display", serif;
  --primary-color: #f7d8d8;
  --secondary-color: #eb6e4b;
}
.hero {
  background-color: #fcebeb;
  text-align: center;
  padding: 160px 0;
  margin: 50px 10px;
}
.hero p {
  font-size: 24px;
  font-family: var(--heading-font);
  font-weight: bold;
  line-height: 45px;
}
h1 {
  font-size: 64px;
  font-family: var(--nameheading-font);
  font-weight: bold;
  line-height: 60px;
}
h2 {
  font-size: 20px;
  font-family: var(--heading-font);
  line-height: 40px;
  margin-top: 20px;
}

.btn-branding {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 25px 15px 25px;
  transition: all 150ms ease-in-out;
}

.btn-branding:hover {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.text-center {
  font-family: var(--heading-font);
  font-size: 14px;
  padding: 50px 0;
  font-weight: normal;
}
.project-description {
  padding: 40px 80px;
}

.project-heading {
  font-family: var(--nameheading-font);
  font-weight: 700;
  font-size: 40px;
}

.podcast-image {
  width: 400px;
  background-color: var(--primary-color);
  padding: 20px 30px;
}

.weather-image {
  width: 450px;
  background-color: var(--primary-color);
  padding: 20px 20px;
}

.btn-project {
  font-size: 18px;
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
  transition: all 150ms ease-in-out;
}

.btn-project:hover {
  background-color: var(--secondary-color);
  color: white;
}

.email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: var(--heading-font);
  transition: all 150ms ease-in-out;
}

.email-link:hover {
  color: var(--secondary-color);
}

p {
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: normal;
}

h5 {
  font-size: 55px;
  font-family: var(--nameheading-font);
  font-weight: bold;
  margin-top: 60px;
  padding-top: 50px;
}

.content-box {
  background-color: var(--primary-color);
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 80px;
  border-radius: 20px;
  padding: 10px 10px;
}
.email-details {
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.email {
  font-size: 34px;
  font-family: var(--nameheading-font);
  font-weight: bold;
  line-height: 50px;
}
.contact-para {
  font-size: 18px;
  font-weight: normal;
}
.contact-button {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.socials-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 16px;
  transition: all 150ms ease-in-out;
}

.socials-links a:hover {
  color: white;
  background: var(--secondary-color);
}

.about-me {
  padding: 120px 90px;
}

.about-header {
  font-size: 40px;
}
.name {
  font-size: 52px;
}

.subheader {
  font-size: 20px;
  margin-top: -10px;
}
.about-me-para {
  font-size: 18px;
}
.about-project {
  font-size: 18px;
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
}
.about-project:hover {
  background-color: var(--secondary-color);
  color: white;
}

.photo {
  width: 400px;
}

.about-content-box {
  margin-top: -20px;
}

.contact-hero {
  background-color: var(--primary-color);
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  margin: 50px 10px;
}
@media (max-width: 576px) {
  .hero {
    margin: 80px 10px;
    padding: 100px 0;
  }
  .hero p {
    font-size: 22px;
  }

  h1 {
    font-size: 52px;
    line-height: 1.5;
  }
  h2 {
    font-size: 16px;
    margin-top: 0;
  }
  .project-description {
    margin-top: -80px;
    padding: 20px;
  }
  .project-heading {
    font-size: 36px;
  }
  .para {
    font-size: 16px;
  }
  .btn-branding {
    font-size: 16px;
    padding: 10px 20px 10px 20px;
  }
  .btn-project {
    display: block;
    text-align: center;
    font-size: 16px;
  }
  h4 {
    text-align: center;
  }
  h5 {
    font-size: 28px;
    margin-top: -20px;
  }

  .content-box {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
  }
  .email-details {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .email {
    font-size: 24px;
    font-family: var(--nameheading-font);
    font-weight: bold;
  }
  .email-link {
    font-size: 16px;
  }
  .socials-link {
    font-size: 14px;
  }

  .contact-para {
    font-size: 14px;
  }

  a .contact-button {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
  }

  .about-me {
    text-align: center;
    padding: 0 10px;
  }
  .about-header {
    font-size: 28px;
    padding-top: 30px;
  }
  .name {
    font-size: 38px;
  }
  .subheader {
    font-size: 16px;
  }
  .about-me-para {
    font-size: 16px;
  }
  .about-project {
    font-size: 14px;

    padding: 8px 16px 8px 16px;
  }
  .photo {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
  }

  .contact-hero {
    background-color: var(--primary-color);
    text-align: center;
    margin: 80px 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
